{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <p>We hebben jouw keuze goed ontvangen. Van zodra het artikel beschikbaar is  zullen wij jouw supportersclub hiervan berichtten. </p>
    <p>Voor vragen gelieve te mailen naar 123@example.com</p>
</div>
{% endblock %}
